.round {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 50%;
        width: 280px;
        height: 280px;
        background-color: #888888;
        padding: 0;
        margin: 1.5em 0 1.5em 0;
        display: inline-block;
        border: 8px solid #c0c0c0;
        z-index: 100;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        background-clip: content-box;
        /*box-shadow: 1px 1px 1px #333333;*/
        transition: border 0.3s, filter 0.4s;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    img:hover {
        border: 8px solid #222;
        box-shadow: none;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }
}

