// Colors
$red: #FF5252;
$red-hover: #F44336;

.resume {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen 
and (max-device-width : 812px) {
    .resume {
        font-size: 120%;
    }
}
