// Colors
$red: #FF5252;
$red-hover: #F44336;

.splash {
    width: 100%;
    height: 400px;
    background-color: dodgerblue;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-image: url(../../assets/images/macbook_PNG48.png);
    background-position: center bottom;
    background-image:
        linear-gradient(
        to top left, 
        dodgerblue,
        rgb(79, 165, 252) 50%
        );
        background: #1e5799;
        background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 51%, #207cca 52%, #7db9e8 100%);
        background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 51%,#207cca 52%,#7db9e8 100%);
        background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 50%,#7db9e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='dodgeblue', endColorstr='#7db9e8',GradientType=1 );

    img {
        object-fit: contain;
        max-height: 300px;
        width: auto;
        margin-bottom: -250px;
     }

    p {
        color: #ffffff;
    }

    i {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .splash {
        height: 280px;
        margin-bottom: 100px;

        img {
            max-height: 200px;
            margin-bottom: -170px;
         }
    }

}