// Colors
$red: #FF5252;
$red-hover: #F44336;

.splash {
    width: 100%;
    height: 600px;
    background-color: dodgerblue;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        
    }

    .text-container {
        width: 50%;
        max-width: 900px;
        height: 200px;
        padding: 3em;
        text-align: left;
        font-size: 1.3em;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        color: #ffffff;
    }

    p {
        color: #ffffff;
    }

    i {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .text-container {
        width: 100% !important;
        height: 200px !important;
    }
}