// Colors
$red: #FF5252;
$red-hover: #F44336;

header {
    background-color: $red;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }

    i {
        font-weight: 300;
        margin-right: 4px;
    }

    a:hover {
        color: #e4e4e4;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    
        border-top: 20px solid $red;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

