@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

h2 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    width: 100%;
    color: #777777;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
}

h2:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    bottom: 0;
    left: calc(50% - 50px);
    border-bottom: 1px solid #777777;
}

h5 {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
}

.tags-list {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        display: inline-flex;
        margin: 0 5px 5px 0;
        text-transform: uppercase;
        background-color: #FF5252;
        border-radius: 10px;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
    }

    #angular {
        background-color: #f10025;
    }

    #android {
        background-color: #9ac900;
    }

    #html {
        background-color: #f73b04;
    }

    #css {
        background-color: #1761f9;
    }

    #react {
        background-color: #61dafb;
    }

    #photoshop {
        background-color: #00caff;
    }

    #node {
        background-color: #65b15a;
    }

    #mongodb {
        background-color: #009d37;
    }

    #java {
        background-color: #f66600;
    }

    #kotlin {
        background-color: #ff8400;
    }

    #aws {
        background-color: #f80;
    }
}